<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="test.css">
</head>
<body>
<div id="applicationPagination">
		<section class="section">
			<div class="picture_unit pict" v-for="photo in photos">
				<div class="picture">
					<img :src="photo.urls.small" alt="">
				</div>
					<div class="picture_footer info">
						<img :src="photo.user.profile_image.small" alt="" class="photo_people">			
							<div class="people_info">
								<a :href="photo.user.portfolio_url" target="_blank">{{ photo.user.name }}</a>
								<i v-on:click="addItem(item_data)">myFavorites</i>
							</div>
							<simple-counter></simple-counter><span>likes</span>
					</div>
			</div>
		</section>
		<pagination
			:current="currentPage"
			:total="totalPhotos"
			:per_page="countPhoto"
			@page-changed="showPhoto">
		</pagination>
</div>
	<template id="paginationTemplate">
		<div class="pagination">
			<div class="pagin-left">
				<a href="#" v-if="Prev()" @click.prevent="changePage(previousPage)">Prev</a>
			</div>
				<div class="pagin-middle">
					<ul>
						<li v-if="First()"><a href="#" @click.prevent="changePage(1)">1</a></li>
						<li v-for="page in pages">
							<a href="#"@click.prevent="changePage(page)" :class="{ current: current == page }">{{ page }}</a>
						</li>
							<li v-if="Last()"><a href="#" @click.prevent="changePage(totalPages)">{{ totalPages }}</a></li>
					</ul>
				</div>
			<div class="pagin-right">
				<a href="#" v-if="Next()" @click.prevent="changePage(nextPage)">Next</a>
			</div>
		</div>
	</template>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
	<script src="test.js"></script>
	<script src="like.js"></script>
</body>
</html>

